body{
    font-family: sans-serif;
    padding: 0%;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

nav{
    background-color: #7e5c5c;
    height: 80px;
    width: 100%
}

#suche{
    width: 15%;
    height: 30%;
    margin-left: 50%;
}


label.name{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 300px;
}

nav ul li{
    display: inline-block;
    line-height: 80px ;
    margin: 0 30px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    
}

#zaehlerWagenID {
    background-color: black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    color: #7e5c5c;
}

#testID{
    height: 50px;
    width: 50px;
    background-color: rgb(0, 22, 219) ;
}

#Gewürztraminer, #Sauvignon, #Riesling  {
    color: black;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    background-color: #7e5c5c;
}


.traminerClass img, .sauvignonClass img, .rieslingClass img{
    width: 100%;
    
}


.kategorie {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}


.traminerClass, .sauvignonClass, .rieslingClass {

    width: 30%;
    padding: 50px 1.5% 50px 1.5%;
    height: 30%;
    text-align: center;
}

h3::after {
    content: "";
    color: rgb(0, 0, 0);
}

.bild{
    text-align: center;
}

@media screen and (max-width:600px){
    body{
        font-family: sans-serif;
        padding: 0%;
        margin: 0px;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        
    }
    
    nav{
        background-color: #7e5c5c;
        height: 80px;
        width: 100%
    }
    
    #suche{
        width: 15%;
        height: 30%;
        margin-left: 5%;
    }
    img[alt=einkaufswagen]{
        padding-left: 70px;
        padding-top: 15px;
    
    }
    
    label.name{
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 50px;
        font-weight: bold;
    }
    
    nav ul{
        margin: 0 auto 0 auto;
        text-align: center;
        line-height: 80px ;
        margin: auto;
    }
    
 
    
    nav ul li a{
        color: black;
        font-size: 17px;
        padding: 7px 20px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
       
    
        
    }
    #Gewürztraminer, #Sauvignon, #Riesling  {
        color: black;
        font-size: 17px;
        text-align: center;
        text-transform: uppercase;
        background-color: #7e5c5c;
    }
    
    
    .traminerClass img, .sauvignonClass img, .rieslingClass img{
        width: 100%;
        
    }
    
    .kategorie{
        width: 100%;
        display: inline-block;
        justify-content: space-evenly;
        margin: 0 auto 0 auto;
    }

    .traminerClass, .sauvignonClass, .rieslingClass{
        width: 100%;
        padding: 50px 1.5% 50px 1.5%;
        height: 30%;
        text-align: center;
    }
}

@media screen and (min-width:600px) and (max-width:1024px){
   
    #suche{
        width: 15%;
        height: 30%;
        margin-left: 5%;
    }
    img[alt=einkaufswagen]{
        padding-left: 90px;
        padding-top: 15px;
    
    }
    
    nav ul{
        margin: 0 auto 0 auto;
        text-align: center;
        line-height: 80px ;
        margin: auto;
    }
    
    .traminerClass img, .sauvignonClass img, .rieslingClass img{
        width: 100%;
        
    }
    
    .kategorie{

        width: 40%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
    }

    .traminerClass, .sauvignonClass, .rieslingClass{
        width: 40%;
        padding: 50px 1.5% 50px 1.5%;
        height: 30%;
        text-align: center;
    }

}



 

 
