body{
    background-image: url("Hintergrund.bg.png");
    text-align: center;
    font-family: sans-serif;
    
}
nav{
    background-color: black;
    width: 180px;
    height: 20px;
    border-radius: 5%;
    margin: -5px auto auto 670px;
    position: sticky;
    top: 0;
}

nav a{
    color: white;
    text-decoration: none;

}

nav a:hover{
    color: red;
    
}

#kreis img:hover{
    width: 60px;
    
}
#kreis{
    background-color: rgb(169, 127, 207);
    width: 500px;
    height: 500px;
    margin: -250px auto auto auto;
    border-radius: 50%;
    
}
#kreis h1{
    padding: 200px 0 0 0;
    text-align: center;
    font-size: 90px;
   
    color: white;
    
}
#kreis p{
    margin: 10px 0 0 250px;
    font-size: 20px;
  
    color: white;
    
}

#kontakt a{
    
    color: rgb(169, 127, 207);
    font-size: 30px;
}

#kontakt input{
    background-color: rgb(185, 180, 176);
}
#kontakt textarea{
    background-color: rgb(185, 180, 176);
}

#kontakt a{
    background-color: rgb(185, 180, 176);
}





