body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}

.header{
    height: 100px;
    background: #7e5c5c;
    padding: 0 20px;
    color: black;
}

.logo{
    line-height:100px;
    float: left;
    text-transform: uppercase;
}

.menu{
    float: right;
    line-height: 100px;

}

.menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0,4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float: right;
}

.show-menu-btn i{
    line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #c06f5b;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content{
    padding: 0 20px;
}

.content img{
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

content p{
    text-align: justify;
}

@media screen and (max-width:800px){
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #7e5c5c;
        right: -100%;
        left: 0;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0,7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;

    }
}


a.active,a:hover{
    background-color: rgb(243, 227, 198);
    transition: .5s;
}



.traminer img{
    width: 20%;
    
}

.kategorie1{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto 0 auto ;
}

.traminer{
    width: 30%;
    
}

.kategorie2{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.sauvignon img{
    width: 20%;
}

.sauvignon{
    width: 30%;
}

.kategorie3{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.riesling img{
    width: 20%;
}

.riesling{
    width: 30%;
}

.bild{
    flex: center;
}